body {
  margin: 1px;
}

.wrapper {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px;
  grid-gap: 0px;
  font-size: 100%;
  background-color: #fff;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 325px 325px;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  font-size: 100%;
background-color: #ffffff;
}
.wrapper3 {
  display: grid;
  grid-template-columns: 162px 162px;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  font-size: 100%;
}
.wrapper4 {
  display: grid;
  grid-template-columns: 325px;
  grid-template-rows: auto auto;
}
.bg-red{
  background-color: #ff0000;
}
.bg-green{
  background-color: #00ff00;
}
.bg-blue{
  background-color: #0000ff;
}
.spacing {
  height: 1000px;
  background-color: #ffffff;
}
.box {
  background-color: #fff;
  color: #444;
  border-radius: 5px;
  padding: 2px;
  font-size: 100%;
}
.button {
  height: 16;
}
.input {
  width: 95%;
}
.input0 {
  width: 149px;
}
.label {
 padding: 1px;
}
.label0 {
  width: 30px;
  height: 11px;
}
.select {
  width: 160px;
}
.select1 {
  width: 50%;
}
.select2 {
  width: 300px;
}
.wrapper-select {
  font-size: 100%;
  padding: 11px;
  background-color: #f0000;
  foreground-color: #000f0;
}
.wrapper-select0 {
width: 150px;
height: 20px;
}
.selected {
  background-color: #dfdfdf;
}
.not-selected {
  background-color: #00000;
}